<h3>Your Appartment ad has been deleted successfully </h3>


{{ "Go to Homepage to post Again:\n"|nl2br}}
  <a href="{{ homepage}}">Buildings Ad Posting</a>  
 <H3><b>Thanks:</b></h3>
 <H3><b>Support Team</b></h3>

 
 


